@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body{
    font-family: 'Cairo', sans-serif;
}

/* Scroll Bar */

.scroll {
    width: 20px;
    height: 200px;
    overflow: auto;
    float: left;
    margin: 0 10px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background:rgb(211, 211, 211);
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--scroll-bar-background-color);
    border-radius: 20px;
}

/* checkbox input */

.switch input {display:none}

.slider:before
{
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    top: 50%;
    transform: translateY(-50%) translateX(0);
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider
{
    background: var(--primary-color);
}

input:checked + .slider:before
{
    top: 50%;
    transform: translateY(-50%) translateX(23px);
}